body {
  background-color: rgba(255, 65, 165, 1);
}

header {
  width: auto;
  height: auto;
  background-color: rgba(30, 185, 205, .8);
  border: 2px solid black;
  }

img {
  display: block;
  margin: 10px auto 10px auto;

}

h1 {
  text-align: center;
  font-size: 4em;
  font-family: 'Inconsolata', monospace;
}

table {
  width: 80%;
  /*height: %;*/
  margin: auto;
  margin-top: 5px;
  border: 2px solid black;
  background-color: rgba(255, 235, 90, 0.9);
}

td {
  border: 1px solid black;
  text-align: center;
}
