body {
  background-color: rgba(255, 65, 165, 1);
}

header {
  width: auto;
  height: auto;
  background-color: rgba(30, 185, 205, .8);
  border: 2px solid black;
  border-radius: 10px;
  /*position: relative;*/
  }

img {
  display: block;
  margin: 10px auto 10px auto;
  box-shadow: 5px 5px 5px black;
}

h1 {
  text-align: center;
  font-size: 4em;
  font-family: 'Inconsolata', monospace;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgba(30, 185, 205, 0.1);
  width: 70%;
  margin: 5px auto 10px auto;
  box-shadow: 5px 5px 5px black;
}

h2 {
  text-align: center;
  font-size: 2.5em;
  font-family: 'Inconsolata', monospace;
  text-decoration: underline;
}

table {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  border: 2px solid black;
  background-color: rgba(255, 235, 90, 0.9);
  border-radius: 10px;
  padding: 20px;
}

th {
  font-size: 1.25em;
}

td {
  border: 1px solid black;
  text-align: center;
  font-size: 2em;
  padding: 5px;
}

label {
  font-size: 1.25em;
  display: block;
  margin-top: 10px;
  font-weight: 600;
}

fieldset{
  width: 40%;
  height: 100%;
  margin: 10px auto 10px auto;
}
