/*main color rgb(255, 232, 217) #ffe8d9
secondary color rgb(158, 153, 204) #9e99cc
highlight color rgb(212, 255, 206) #d4ffce*/

body {
  margin: auto;
}

header {
  width: auto;
  height: auto;
  background-color: #ffe8d9;
  border: 2px solid black;
  border-radius: 10px;
  }

img {
  display: block;
  margin: 10px auto 10px auto;
}

h1 {
  text-align: center;
  font-size: 4em;
  font-family: 'Inconsolata', monospace;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgba(30, 185, 205, 0.1);
  width: 70%;
  margin: 5px auto 10px auto;
  color: #9e99cc;
}

h2 {
  text-align: center;
  font-size: 2.5em;
  font-family: 'Inconsolata', monospace;
  text-decoration: underline;
}

table {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  border: 2px solid black;
  background-color: #ffe8d9;
  border-radius: 10px;
  padding: 20px;
}

th {
  font-size: 1.25em;
  background-color: #ffe8d9;
}

td {
  border: 1px solid black;
  text-align: center;
  font-size: 2em;
  padding: 5px;
  background-color: #d4ffce;
}

label {
  font-size: 1.25em;
  display: block;
  margin-top: 10px;
  font-weight: 600;
}

fieldset{
  width: 40%;
  height: 100%;
  margin: 10px auto 10px auto;
}
