/*main color rgb(255, 232, 217) #ffe8d9
secondary color rgb(158, 153, 204) #9e99cc
highlight color rgb(212, 255, 206) #d4ffce*/

body {
  width: 800px;
  background-color: white;
  margin: auto;
}

* {
  box-sizing: border-box;
  /*border: 2px orange;*/
}

.clearfloat {
  clear: both;
}

header {
  position: fixed;
  background-color: rgb(255, 232, 217);
  width: 800px;
  top: 0px;
  /*left: 0px;
  right: 0px;*/
  z-index: 1;
}

.fishphoto1 {
  float: left;
  /*width: 50px;
  height: 50px;*/

}

h1 {
  float: left;
  text-align: center;
  font-weight: 700;
  color: #9e99cc;
  font-size: 5em;
  width: 100%;
}

h3 {
  font-size: 1.3em;
  font-weight: 500;
  margin: 3px 0px;
}

.fishphoto2 {
  float: right;
}

nav ul {
  float: left;
  text-align: center;
  margin: 5px 0px 0px 0px;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 25%;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 1.1em;
  border-left: 1px solid black;
  border-top: 1px solid black;

}
#cu {
  border-right: 1px solid black;
}
nav ul:hover {
  background-color: #d4ffce;
}

section {
  background-color: #ffe8d9;
  border: 4px solid gray;
  margin: 10px 0px;
}

h2 {
  text-align: center;
  float: left;
  font-size: 2em;
  font-weight: 300;
  border-bottom: 2px solid gray;
  color: #9e99cc;
  position: absolute;
  width: 100%;
  height: 40px;
  background-color: white;
}

#aboutus {
  position: relative;
  margin-top: 114px;
  width: 800px;
  height: 270px;
  text-align: center;
}

#familyphoto {
  display: block;
  position: absolute;
  float: left;
  width: 50%;
  height: auto;
  top: 40px;
}

.abouttext {
  position: absolute;
  width: 45%;
  height: auto;
  top: 40px;
  float: left;
  left: 51%;
  border: 2px solid black;
}

#merchandise {
  position: relative;
  width: 800px;
  height: 270px;
}

.merchphoto {
  text-align: center;
}

#merchphoto1 {
  position: absolute;
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  top: 40px;
  left: 10px;
  border: 1px solid black;
}

#merchphoto2 {
  position: absolute;
  display: block;
  float: left;
  width: 25px;
  height: 25px;
  top: 40px;
  right: 35%;
  border: 1px solid black;
}

#merchphoto3 {
  position: absolute;
  display: block;
  float: left;
  width: 25px;
  height: auto;
  top: 40px;
  right: 66%;
  border: 1px solid black;
}

#events {
  width: 800px;
  height: 270px;
  float: left;
  position: relative;
}

#chinookphoto {
  float: right;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 40%;
  height: ato;

}

#events ul {
  position: absolute;
  top: 80px;
  left: 10px;
  font-size: 1.5em;
}

#contactus {
  width: 800px;
  float: left;
  position: relative;

}

fieldset {
  border: 1px solid black;
  padding: 4px;
  margin: 5px 0px;
  background-color: #d4ffce;
}

.hours {
  float: left;
  position: relative;
  width: 390px;
  height: 200px;
  margin: 10px 1px 0px 3px;
  border: 1px solid black;
  text-align: center;
}

#contactus ul, p {
  margin-top: 15px;
}

.address {
  float: left;
  position: relative;
  width: 390px;
  height: 200px;
  margin: 10px 2px 0px 1px;
  border: 1px solid black;
  text-align: center;
}

.map {
  border: 1px solid black;
  margin: 10px 0px 0px 0px;
}

#fishphoto1 {

}

.map h3  {
  background-color: white;
  width: 282px;
  height: 20px;
  margin-bottom: 0px;
  font-weight: 500;
}

iframe {
  margin: 10px 0px 0px 5px;
  border: 1px solid black;
}
